* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #091921 !important;
    color: #091921 !important;
}

header, footer {
    height: 100px;
}

ul {
    list-style-type: none;
}

.title{
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.container {
    background: white;
    box-shadow: 0 0 20px #fff;
    padding-bottom: 50px;
}

.card{
    margin-top: 30px !important;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.form-check-input {
    position: relative;
    top: 2px;
}

.done {
    text-decoration: line-through;
}

#sub {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

select {
    margin-top: 30px;
}

.no-event {
    text-align: center;
    margin: 30px;
}
