* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #091921 !important;
    color: #091921 !important;
}

header {
    background: url(../img/background.jpg) no-repeat center top / cover;
    height: 330px;
}

footer {
    height: 100px;
}

ul {
    list-style-type: none;
}

.title{
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.container {
    background: white;
    box-shadow: 0 0 20px #fff;
    padding-bottom: 50px;
}

.form-check-input {
    position: relative;
    top: 2px;
}

.card{
    margin-bottom: 30px !important;
}